<% properties.each do |p| %>
  <div class="property-info">
    <% if can? :update, p %>
      <%= link_to edit_property_path(p) do %>
        <%= p.description %>
        <%= image_tag p.pictures.first.image.url(:thumb) if p.pictures.any? %>
      <% end %>
    <% else %>
      <%= link_to property_path(p) do %>
        <%= p.description %>
        <%= image_tag p.pictures.first.image.url(:thumb) if p.pictures.any? %>
      <% end %>
    <% end %>
  </div>
<% end %>